In [2]:
x="what is your name?"
type(x)

str

In [3]:
x= 10
type(x)

int

Python's Basic Operations

In [4]:
x= 2
y= 6

Addition

In [5]:
x+y
print("the result is", x+y) #the result is 8

the result is 8

Subtraction

In [6]:
x-y
print("the result is", x-y) #the result is 4

the result is -4

Multiplication

In [7]:
x*y
print("the result is", x*y) #the result is 12

the result is 12

Division

In [9]:
y/x
print("the result is", y/x) #the result is 3.0

the result is 3.0

Power

In [10]:
y**x
print("the result is", y**x) #the result is 36

the result is 36

Modulo

In [11]:
y%x
print("the result is", y%x) #the result is 0

the result is 0

In [13]:
x=19
y=10
print(x%y*3/(x-y))

3.0

String Operation

In [14]:
ch="Hello"

In [15]:
len(ch)

5

In [34]:
TEE= "mojisola"

In [35]:
len(TEE)

8

In [36]:
TEE[6]

'l'

In [37]:
TEE[-1]

'a'

In [38]:
TEE= TEE+ "is a brilliant lady"

In [39]:
print(TEE)

mojisolais a brilliant lady

In [40]:
TEE.upper()

'MOJISOLAIS A BRILLIANT LADY'

In [42]:
mystring= "welcome to coding world"

In [43]:
print(mystring[len(mystring)-9])

i

In [44]:
(5 != 7) == (2 >1)

True

In [45]:
1!= 5 #it returns true

True

In [46]:
1!= 1 #it returns false

False

In [47]:
(1!=1)==(4>5)

True

In [50]:
age=33
age_min= 20
if age > age_min :
    print("the passenger has survived Titanic incident")
print(age)

the passenger has survived Titanic incident
33

In [53]:
M= 50
M_min= 70
name= "taiwo"
if M < M_min :
    print("we are travelling nextweek to Agbado")
print(name)

we are travelling nextweek to Agbado
taiwo

In [55]:
x=5
if x<8:
    print(x)

5

In [56]:
Age= 40
if Age > 20 :
    print("the passenger has survived")
elif Age == 10 :
    print("the passenger had equal chances to survive")
else :
    print("we need more information to make a decision")

the passenger has survived

In [57]:
x = 5
if x > 3:
   print("x is higher than 3!")
else:
   print("x is lower than 3!")

x is higher than 3!